@import url("root.css");


.main__wrapper{
    flex-basis: 93%;
    display: flex;
    gap: 3rem;
}

.content{
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    min-height: 100%;
    gap: 1rem;
    flex-basis: 70%;
}

.city{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 23%;
    align-items: center;
}

/* .city > * {
    border: 1px solid white;
} */

.city__resp{
    flex-basis: 65%;
    display: flex;
}

.weather-icon{
    flex-basis: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon img {
    height: 100%;
    
}

.city-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 57%;
}

.city-name{
    color: #d1d3d5;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .2rem;
    width: auto;
}

.rain-chance{
    color: var(--grey-font);
    font-size: .85rem;
    margin-bottom: .2rem;
    width: auto;
}

.city-temperature{
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 3.5rem;
    flex-basis: 43%;
    justify-content: center;
}

.save-city{
    flex-basis: 5%;
    /* align-self: baseline; */
    height: 90%;
    display: flex;
    align-items: baseline;
}

.save-city svg{
    /* padding-top: 5%; */
    width: 100%;
    /* border: 1px solid white; */
    height: 40%;
    min-height: 15px;
    min-width: 25px;
    cursor: pointer;
    fill: #344661; 
    transition: fill .2s ease, scale .2s ease-in-out;
}
 
.save-city svg:hover{
    fill: #486187;
    scale: 1.1;
}

@keyframes loadingAnimation {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate {
  animation: loadingAnimation 1.5s ease-in-out infinite;
}