@import url("root.css");

.content{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    flex-basis: 60%;
}

.city{
    display: flex;
    justify-content: center;
    min-width: 750px;
    min-height: 150px;
    align-items: center;
}

.weather-icon{
    flex-basis: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.weather-icon img {
    height: 100%;
    
}

.city-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
}

.city-name{
    color: #d1d3d5;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: .2rem;
    width: auto;
}

.rain-chance{
    color: var(--grey-font);
    font-size: .85rem;
    margin-bottom: .2rem;
    width: auto;
}

.city-temperature{
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 3.5rem;
    flex-basis: 20%;
    justify-content: center;
}