

@media screen and (max-width: 1200px) {
    
    .page{
        flex-direction: column;
        width: 95vw;
        margin: 2rem auto;
        position: relative;
    }

    nav{
        flex-direction: row;
        height: 17%;
        padding: .3rem 0;
        min-width: 68.2%;
        align-items: center;
        justify-self: start;
    }

    .logo{
        padding: 0;
        padding-left: 2rem;
        width: 17%;
        height: 100%;
    }

    [class^="n-item"] {
        width: 20%;
        height: 100%;
        margin: 0;
    }

    .empty-container{
        display: none;
    }
    .s-d-forecast{
        flex-basis: 100%;
    }

    .d-value{
        font-size: 1.4rem;
    }

    .grey-classic{
        font-size: 1rem;
    }
}

@media screen and (max-width: 923px) {
    .d-value{
        font-size: 1.2rem;
    }
        .grey-classic{
        font-size: 1rem;
    }
}