@import url('root.css');

.page{
  display: flex;
  gap: 2rem;
  width: 85%;
  height: 90vh;
  margin: 1.5rem auto;
}

nav{
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-basis: 7%;
  /* max-width: 110px; */
  /* margin-left: 7rem; */
  background-color: var(--interface-color);
  border-radius: 20px;
}



.search {
  background-color: var(--interface-color);
  width: 100%;
  min-height: 45px;
  margin: 0 auto;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.search input{
  background-color: var(--interface-color);
  border: none;
  outline: none;
  padding: .5rem 1rem;
  width: 95%;
  color: white;
  font-family: "Roboto";
}


/* placeholder color change for chrome, firefox, opera */
::placeholder{
  color: white;
  opacity: 1;
}

/* for  IE */
:-ms-input-placeholder {
  color: white;
}

/* for Edge */
::-ms-input-placeholder { 
  color: white;
}

