@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Skranji:wght@400;700&display=swap");

:root {
  --background: #0b131e;
  --interface-color: #202b3b;
  --grey-font: #9399a2;
  --grey-temperature: #dde0e4;
  --btn-color: #0095ff;
  --btn-hover: #0077cc;
  --details-value: #c4cad3;
  --nav-active-p: #c4cad3;
  --nav-active-svg: #f0f1f1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik";
  list-style-type: none;
}

body {
  background-color: var(--background);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
  font-family: "Rubik";
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.spinner svg{
  width: 150px;
  height: 150px;
}

.spinner{
  align-self: center;
  
}

#spinner {
  animation: spinner_0KQs 1.2s cubic-bezier(0.52, 0.6, 0.25, 0.99) infinite;
  fill: #9399a2;
}

@keyframes spinner_0KQs {
  0% {
    r: 0;
    opacity: 1;
  }
  100% {
    r: 11px;
    opacity: 0;
  }
}

.loading-animation {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, var(--interface-color), #161d28);
  background-size: 200% 100%;
  animation: loading 2s linear infinite;
  border-radius: 15px;
}

@keyframes loading {
  0% {
      background-position: 200% 0;
  }
  100% {
      background-position: -200% 0;
  }
}