@import url("root.css");

.setting-text {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}

.settings {
  display: flex;
  flex-direction: column;
  background-color: var(--interface-color);
  width: 100%;
  min-height: 84%;
  border-radius: 18px;
  align-items: center;
}

.setting-option {
  flex-basis: 20%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.setting-o-text {
  color: var(--grey-font);
  font-weight: 600;
  font-size: 0.8rem;
  flex-basis: 30%;
  display: flex;
  align-items: center;
}

.toggle-container {
  flex-basis: 50%;
  display: flex;
  align-items: center;
}

.toggle {
  width: 100%;
  height: 60%;
  background-color: var(--background);
  border-radius: 10px;
  display: flex;
  padding: 0.2rem;
}

.toggle-el {
  color: var(--grey-font);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
}

.toggle-el:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 0;
  height: 40%;
  width: 1px; /* Adjust the width as needed */
  background-color: var(--border-color);
  z-index: 1;
}

.toggle-el--active {
  background-color: var(--setting-active);
  color: var(--nav-active-p);
  font-weight: 600;
  transition: background-color 0.3s ease-in-out;
  /* border-left: 1px solid var(--setting-active)  */
}

.fahrenheit {
  flex-basis: 50%;
}

.celsius {
  flex-basis: 50%;
}

.wind-km {
  flex-basis: 33.33%;
}
.wind-miles {
  flex-basis: 33.33%;
}
.wind-knots {
  flex-basis: 33.33%;
}

.pressure-in {
  flex-basis: 33.33%;
}
.pressure-mb {
  flex-basis: 33.33%;
}
.pressure-mm {
  flex-basis: 33.33%;
}

.precipitation-mm {
  flex-basis: 50%;
}

.precipitation-in {
  flex-basis: 50%;
}

.distance-km {
  flex-basis: 50%;
}

.distance-miles {
  flex-basis: 50%;
}

.general-settings {
  display: flex;
  flex-direction: column;
  background-color: var(--interface-color);
  width: 100%;
  min-height: 40%;
  border-radius: 18px;
  padding: 1rem 1.5rem;
  gap: 0.2rem;
}

.general-option {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  /* border: 1px solid green; */
}

.general-option:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
}

.general-option:not(:first-child) {
  padding-top: 0.5rem;
}

.general-row {
  display: flex;
  flex: 3;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

.row-small {
  flex: 3;
  /* align-self: center; */
  align-items: flex-start;
}

.general-text {
  color: var(--nav-active-p);
  font-weight: 600;
  font-size: 0.9rem;
}

.general-desc {
  color: var(--grey-font);
  font-size: 0.9rem;
}

.t-f-hours {
  flex-basis: 25%;
}

.location {
  flex-basis: 37%;
}

.notifications {
  flex-basis: 37%;
}

input[type="checkbox"].toggle-switch {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;

  width: 40px;
  height: 20px;
  border-radius: 20px;
  background-color: lightgrey;
  cursor: pointer;
  outline: none;
  transition: 0.2s background-color ease-in-out;
  position: relative;
}
input[type="checkbox"].toggle-switch:checked {
  background-color: var(--btn-color);
}
input[type="checkbox"].toggle-switch::after {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  transform: scale(0.7);
  left: 0;
  transition: left 0.2s ease-in-out;
  box-shadow: 0 0.1em rgba(0, 0, 0, 0.5);
}
input[type="checkbox"].toggle-switch:checked::after {
  left: 20px;
}

.sign-up-container {
  margin-top: 0.7rem;
  width: 100%;
  min-height: 40%;
  background-color: var(--interface-color);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  padding: 0rem 1.5rem;
}


.sign-up-header {
  flex-basis: 25%;
  color: #d1d3d5;
  font-size: 1.3rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 2px solid var(--border-color);
}

.sign-up-text-btn {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
}
.s-u-text {
  padding-top: 0.75rem;
  color: var(--grey-font);
  font-size: 0.9rem;
}


ul.s-u-list {
  padding: 1.2rem 0 1.1rem 1rem;
  list-style-type: disc;
  color: var(--grey-font);
  font-size: 0.9rem;
}

.sign-up {
  color: white;
  background-color: var(--btn-color);
  border: none;
  font-weight: 500;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  transition: all .3s;
}

.sign-up:hover{ 
  background-color: var(--btn-hover);
}
